# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcarchive
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/

# Release artifacts
*.dmg
boop-release
